#omdbnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 98.8vw;
  height: 70px;
  border: 2px solid;
  background-color: rgb(23, 28, 28);
}
#logo {
  width: 150px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo > img {
  width: 100%;
  height: 100%;
}

#search {
  flex: 1;
  max-width: 500px;
  height: 40px;
  border: none;
}
#search > input {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  font-size: 20px;
  padding-left: 10px;
}

#results {
  width: 15%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#results > h4 {
  color: white;
}

@media screen and (max-width: 500px) {
  #logo {
    flex: 1;
    width: 50px;
    height: 50px;
  }
  #search {
    flex: 5;
    width: 300px;
  }
  #results {
    flex: 4;
  }
  #results > h4 {
    font-size: 11px;
  }
}
